<% if(messages.length > 0) { %>
    <ul class="list-unstyled">
        <% messages.forEach(message => { %>
            <li class="alert alert-complement"><%= message %></li>
        <% }); %>
    </ul>
<% }; %>