<!DOCTYPE html>
<html lang="en-US">
    <head>
        <%- include('partials/head'); %>
        <title>Flash Test</title>
    </head>
    <body>
        <%- include('partials/nav'); %>
        <div id="chat-window">
            <div id="messages">
            </div>
            <form id="message-form">
                <input type="text" id="message-input">
                <button class="btn">Send</button>
            </form>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            // again needed because we reference the user local
            const currentUserId = "<%= user._id %>";
        </script>
        <script src="/scripts/groupChatFunctionality.js"></script>
    </body>
</html>