<!DOCTYPE html>
<html lang="en-US">
    <head>
        <%- include('partials/head'); %>
        <title>Meet People</title>
        <style>
            * {
                padding: 0;
                margin: 0;
                box-sizing: border-box;
            }

            body {
                height: 100vh;
            }

            #container {
                display: flex;
                flex-direction: row;
                height: 100%;
            }
            
            #messages {
                height: 70%;
                overflow: auto;
            }

            #chat {
                width: 50%;
            }

            #message-form, #message-input, button {
                width: 100%;
            }

            ul {
                margin-left: 1rem;
            }

            .person {
                padding: 1rem;
                margin-bottom: 1rem;
                background: #ccc;
                color: #333;
                cursor: pointer;
                transition: background .5s;
            }

            .person:hover {
                background: #333;
                color: #ccc;
            }

            #people-list {
                overflow: auto;
            }

            #active-conversations {
                display: flex;
                list-style: none;
            }

            #current {
                background: #333;
                color: #ccc;
            }

            .active-conversation {
                background: #ccc;
                color: #333;
                padding: .5rem;
                min-width: 60px;
                text-align: center;
                cursor: pointer;
            }

            .new {
                background: coral;
            }

            #people-navigation {
                width: 50%;
            }
        </style>
    </head>
    <body>
        <%- include('partials/nav'); %>
        <h1>Meet People</h1>
        <div id="container">
            <div id="chat">
                <div id="chat-list">
                    <ul id="active-conversations">
                    </ul>
                </div>
                <div id="messages">
    
                </div>
                <form id="message-form">
                    <textarea id="message-input" placeholder="type in your message" required></textarea>
                    <button>Send</button>
                </form>
            </div>
            <div id="people-navigation">
                <button id="friends-btn">Friends</button>
                <button id="meet-btn">Meet People</button>
                <div id="people-list">
                </div>
            </div>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <% if(user) { %>
            <script>
                // this is here because we need the ejs user local variable for our script
                const currentUserName = "<%=user.username%>";
                const currentUserId = "<%=user._id%>";
            </script>
            <script src="/scripts/privateChatFunctionality.js"></script>
        <% }; %>
    </body>
</html>