$theme-colors: (
    "primary": #b56181,
    "support": #fc9cb9,
    "complement": #85a34e,
    "secondary": #664757,
    "darker": #453942,
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.text-support {
    color: map-get($theme-colors, support);
}

html, body {
    overflow: hidden;
    height: 100vh;
    position: relative;
}

body {
    background: map-get($theme-colors, darker);
    color: white;
    font-family: 'Roboto', sans-serif;
}

.text-darker {
    color: map-get($theme-colors, darker);
}

.alert-complement {
    background: darken(map-get($theme-colors, complement), 13%) !important;
    border: 0 !important;
    color: white !important;
}

.bg-complement {
    background: map-get($theme-colors, complement) !important;
}

.bg-darker {
    background: map-get($theme-colors, darker) !important;
}

.btn-complement {
    background: map-get($theme-colors, complement);
}

.btn-complement:hover {
    background: darken(map-get($theme-colors, complement), 8%) !important;
}

.btn-darker {
    background: map-get($theme-colors, darker);
}

.btn-darker:hover {
    background: darken(map-get($theme-colors, darker), 8%) !important;
}

.new {
    background: lighten(map-get($theme-colors, complement), 10%) !important;
}

#current {
    background: map-get($theme-colors, complement) !important;
}

#active-conversations {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.viewport-fit {
    height: calc(100vh - 56px); 
}

#message-form {
    top: 75%;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

#message-input {
    flex-grow: 1;
}

#left {
    transform: translateX(-100%);
}

#right {
    transform: translateX(0px);
}

#right, #left {
    transition: transform .5s;
}

.flex-1 {
    flex: 1;
}

@media (max-width: 575.98px) { 
    .w-xs-100 {
        width: 100% !important;
    }

    .h-xs-60 {
        height: 60% !important;
    }
    
    .h-xs-40 {
        height: 40% !important;
    }

    .flex-xs-1 {
        flex: 1 !important;
    }

    .m-xs-0 {
        margin: 0 !important;
    }

    .p-xs-0 {
        padding: 0 !important;
    }

    .mb-xs-3 {
        margin-bottom: 1rem !important;
    }

    .justify-content-xs-start {
        justify-content: flex-start !important;
    }
 }